*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a{
    text-decoration: none;
}

html{
    /*variaveis*/
    --bg-color: #EDF2FF;
    --text-color:#00082F;
    --primary-color: #4263EB;
    --primary-color-dark:#364FC7;
    --background-color:#00082F;

}
/*background*/
body.dark-blue {
    --bg-color: #00082F;
    --text-color: #FFFFFF;
    --background-color:#00082F;
  }

body.pink {
    --bg-color: #FFF0F6;
    --text-color: #FFF0F6;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
    --background-color:#1F000B;
  }

body{
    border: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    background: var(--background-color);
}

.container{
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

img{
    width: 100%;
}

img.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;
}

h1{
    font-size: 32px;
    color: var(--bg-color);
    margin-top:24px;
    margin-bottom:8px;
}

.usarname{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #00082F;
    opacity: 0.8;
    font-size: 18px;

}

/*botoes*/
ul{
    list-style: none;
    margin: 48px 0;
}

ul li a{
    
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;

}

/*pseudo-class*/

ul li a:hover{
    background: var(--primary-color-dark);
}
/*cabecalho*/
footer{
    font-weight: 500;
    font-size: 12px;
    color: var(--bg-color);
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover{
    opacity: 1;
}
footer a{
    color: var(--text-color);
}

@media only screen and(max-widht: 600px) {
    .card-login{
        width: 85%;
    }
}

/*outras midias*/
@media only screen and (max-width:600px){
    .usarname{
            flex-direction: column;
        }
        .left-login > h1{
            display: none;
        
        }

        .left-login{
            width: 100%;
            height: auto;
        }
        .rigth-login{
            width: 100%;
            height: auto;
        }

}